@charset "utf-8";
/*=======陈建创建2015.1.14========*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; /*font-size: 62.5%;*/ font-size: 10px;}
body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
*,*:before,*:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; -webkit-text-size-adjust:none; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family:courier new, courier, monospace; }
small { font-size: 1.2em; }
ul, ol { list-style: none; }

/*=链接样式/颜色=*/
a{cursor: pointer; text-decoration:none; color:#222; outline:none;
    transition-property:background-color,border-color,height,width,color;
    -webkit-transition-property:background-color,border-color,height,width,color;
    -o-transition-property:background-color,border-color,height,width,color;
    transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
}
a:hover,a:focus{ text-decoration:none; outline:none; }
a:active{-webkit-tap-highlight-color:transparent;}
.fadecj{
    transition-property:background-color,border-color,height,width,color;
    -webkit-transition-property:background-color,border-color,height,width,color;
    -o-transition-property:background-color,border-color,height,width,color;
    transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;

}
/*
a .iconfont{
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;

}
a:hover .iconfont{
color:#ff9c00;
}
*/

input[type=text]:focus,input[type=button]:focus,input[type=submit]:focus{outline:none;}/*IE*/
input::-ms-clear { display: none; }
input::-ms-reveal { display: none; }
input[type=button]::-moz-focus-inner{outline:0;}/*火狐*/
input[type="button"], input[type="submit"], input[type="reset"],input[type=text],textarea{
    -webkit-appearance: none;
}

sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0;}
img{ vertical-align:middle;}
button, input, select, textarea { font-size: 100%; outline:none;}
/*table { border-collapse: collapse; border-spacing: 0; }*/
.fram_case{ padding:1.5em;}
.caseout{ padding:1em;}
.dialog_case{ background-color:#fff; padding:1.5em;}
.wrapper{padding:1.5em 0 0 1.8em; }
.min-w{min-width:115em;}

/* clear */
.cl{clear:both; height:0; line-height:0;}
.cf:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.cf { *zoom:1; }
/* display */
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;} /* if the element is block level(eg. div, li), using 'inline_any' instead */

/*grid中的操作图标样式 */
/* Backgrounds */
.bg-navy { background-color: #001f3f; }
.bg-blue { background-color: #0074d9; }
.bg-aqua { background-color: #7fdbff; }
.bg-teal { background-color: #39cccc; }
.bg-olive { background-color: #3d9970; }
.bg-green { background-color: #8cc253; background-color:rgba(140,194,83,0.9);}
.bg-lime { background-color: #01ff70; }
.bg-yellow { background-color: #ffdc00; }
.bg-orange { background-color: #fabe00; background-color:rgba(250,190,0,0.9);}
.bg-red { background-color: #f46043; }
.bg-fuchsia { background-color: #f012be; }
.bg-purple { background-color: #b10dc9; }
.bg-maroon { background-color: #85144b; }
.bg-white { background-color: #ffffff; }
.bg-gray { background-color: #aaaaaa; }
.bg-silver { background-color: #dddddd; }
.bg-black { background-color: #111111; }
.bg-f8 {background-color:#f8f8f8;}
/* Colors */
/* safe color */
.g0{color:#000;}
.g2{color:#222;}
.g3{color:#333;}
.g6{color:#666;}
.g6 a{color:#666;}
.g6 a:hover{color:#ff9c00;}
.g6 a:active{color:#222;-webkit-tap-highlight-color:transparent;}
.gd{color:#ddd;}
.gb{color:#bbb;}
.gc{color:#ccc;}
.geb{color:#ebebeb;}
.g9{color:#999;}
.g9 a{color:#999;}
.g9 a:hover{color:#ff9c00;}
.g9 a:active{color:#999;-webkit-tap-highlight-color:transparent;}

.navy { color: #001f3f; }
.blue { color: #00adef; }
.bluedeep{color: #004f92;}
.wathet{}
.aqua { color: #7fdbff; }
.teal { color: #39cccc; }
.olive { color: #3d9970; }
.green { color: #4dac00; }
.lime { color: #01ff70; }
.yellow { color: #fabe00; }
.orange { color: #ff9c00; }
.red { color: #F00; }
.fuchsia { color: #f012be; }
.purple { color: #966add; }
.maroon { color: #85144b; }

.white{color:white;}
.white a{color:white;}
.white a:hover{color:#fff;}
.whitelow{color:#f2f2f2;}
.whitelow a{color:#f2f2f2;}
.whitelow a:hover{color:#ffffff;}
.whitedeep{color:#e5e5e5;}
.whitedeep a{color:#e5e5e5;}
.whitedeep a:hover{color:#ffffff;}

.silver { color: #dddddd; }
.gray { color: #aaaaaa; }
.black { color: #111111; }

/*主色*/
.a_prime{ color:#222 !important;}
.a_prime a{ color:#222;}
.a_prime a:hover{ color:#ff9c00;}
.a_prime a:active{ color:#222;-webkit-tap-highlight-color:transparent;}
.a_hover{color:#ff9c00 !important;}


/*主色副*/
.a_prime_f{ color:#222;}
.a_prime_f a{ color:#222;}

/* ---------------------single CSS----------------------- */
/*=排版样式(原)=*/
/* height */
.h14{height:1.4em;}
.h16{height:1.6em;}
.h18{height:1.8em;}
.h20{height:2em;}
.h22{height:2.2em;}
.h23{height:2.3em;}
.h24{height:2.4em;}
.h26{height:2.6em;}
.h28{height:2.8em;}
.h30{height:3em;}
.h40{height:4em;}
.h50{height:5em;}
.h100{height:10em;}
.h150{height:15em;}

/* line-height */
.linepy{ line-height:1.42857143;}
.line16{line-height:1.6em;}
.line18{line-height:1.8em;}
.line20{line-height:2em;}
.line22{line-height:2.2em;}
.line24{line-height:2.4em;}
.line26{line-height:2.6em;}
.line28{line-height:2.8em;}
.line30{line-height:3em;}
.line32{line-height:3.2em;}
.line34{line-height:3.4em;}
.line40{line-height:4em;}
.line40td td,.line40td th{ padding-top:0.6em; padding-bottom:0.6em;  line-height:2.6em;}
.line46{line-height:4.6em;}
.line50{line-height:5em;}
.line50td td,.line50td th{ padding-top:1.2em; padding-bottom:1.2em; line-height:2.6em;}

/* fixed width value */
.wd10{ width:1em;}
.wd20{ width:2em;}
.wd30{ width:3em;}
.wd40{ width:4em;}
.wd60{ width:6em;}
.wd70{ width:7em;}
.wd80{ width:8em;}
.wd90{ width:9em;}
.wd100{ width:10em;}
.wd105{ width:10.5em;}
.wd110{ width:11em;}
.wd120{ width:12em;}
.wd123{ width:12.3em;}
.wd124{ width:12.4em;}
.wd125{ width:12.5em;}
.wd130{ width:13em;}
.wd140{ width:14em;}
.wd150{ width:15em;}
.wd160{ width:16em;}
.wd170{ width:17em;}
.wd180{ width:18em;}
.wd190{ width:19em;}
.wd200{ width:20em;}
.wd210{ width:21em;}
.wd220{ width:22em;}
.wd230{ width:23em;}
.wd240{ width:24em;}
.wd250{ width:25em;}
.wd257{ width:25.7em;}
.wd260{ width:26em;}
.wd270{ width:27em;}
.wd280{ width:28em;}
.wd290{ width:29em;}
.wd300{ width:30em;}
.wd310{ width:31em;}
.wd320{ width:32em;}
.wd330{ width:33em;}
.wd400{width:40em;}
.wd460{width:46em;}
.wd500{width:50em;}
.wd550{width:55em;}
.wd600{width:60em;}
.wd640{width:64em;}
.wd700{width:70em;}
.wd800{width:80em;}
.wd900{width:90em;}
.wd1000{width:100em;}

/* percent width value */
.pct10{width:10%;}
.pct15{width:15%;}
.pct20{width:20%;}
.pct25{width:25%;}
.pct30{width:30%;}
.pct33{width:33.3%;}
.pct35{width:35%;}
.pct40{width:40%;}
.pct50{width:50%;}
.pct60{width:60%;}
.pct66{width:66.6%;}
.pct70{width:70%;}
.pct75{width:75%;}
.pct80{width:80%;}
.pct90{width:90%;}
.pct100{width:100%;}
/* line-height */
.lh14{line-height:1.4em;}
.lh16{line-height:1.6em;}
.lh18{line-height:1.8em;}
.lh20{line-height:2em;}
.lh22{line-height:2.2em;}
.lh24{line-height:2.4em;}
/* margin */
.mat{margin-left:auto; margin-right:auto;}
.m0{margin:0;}
.ml0{margin-left:0 !important;}
.ml1{margin-left:0.1em;}
.ml2{margin-left:0.2em;}
.ml3{margin-left:0.3em;}
.ml5{margin-left:0.5em;}
.ml6{margin-left:0.6em;}
.ml10{margin-left:1em;}
.ml15{margin-left:1.5em;}
.ml20{margin-left:2em;}
.ml30{margin-left:3em;}
.mr0 { margin-right: 0 !important; }
.mr1{margin-right:0.1em;}
.mr2{margin-right:0.2em;}
.mr3{margin-right:0.3em;}
.mr5{margin-right:0.5em;}
.mr10{margin-right:1em;}
.mr15{margin-right:1.5em;}
.mr20{margin-right:2em;}
.mr30{margin-right:3em;}
.mr60{margin-right:6em;}
.mt1{margin-top:0.1em;}
.mt2{margin-top:0.2em;}
.mt5{margin-top:0.5em;}
.mt10{margin-top:1em;}
.mt12{margin-top: 1.2em;}
.mt14{margin-top: 1.4em;}
.mt15{margin-top:1.5em;}
.mt18{margin-top:1.8em;}
.mt20{margin-top:2em;}
.mt30{margin-top:3em;}
.mt40{margin-top:4em;}
.mt45{margin-top:4.5em;}
.mt48{margin-top:4.8em;}
.mt50{margin-top:5em;}
.mt60{margin-top:6em;}
.mt70{margin-top:7em;}
.mt80{margin-top:8em;}
.mb0{margin-bottom:0;}
.mb1{margin-bottom:0.1em;}
.mb2{margin-bottom:0.2em;}
.mb5{margin-bottom:0.5em;}
.mb10{margin-bottom:1em;}
.mb15{margin-bottom:1.5em;}
.mb20{margin-bottom:2em;}
.mb30{margin-bottom:3em;}
/* margin negative */
.mt-1{margin-top:-0.1em;}
.mt-3{margin-top:-0.3em;}
.mt-20{margin-top:-2em;}
.ml-1{margin-left:-0.1em;}
.ml-3{margin-left:-0.3em;}
.ml-4{margin-left:-0.4em;}
.ml-5{margin-left:-0.5em;}
.ml-20{margin-left:-2em;}
.mr-3{margin-right:-0.3em;}
.mr-1{margin-right:-0.1em;}
.mr-20{margin-right:-2em;}
.mb-1{margin-bottom:-0.1em;}
.mb-3{margin-bottom:-0.3em;}
.mb-20{margin-bottom:-2em;}
/* padding */
.p0{padding:0 !important;}
.p1{padding:0.1em;}
.pl1{padding-left:0.1em;}
.pt1{padding-top:0.1em;}
.pr1{padding-right:0.1em;}
.pb1{padding-bottom:0.1em;}
.p2{padding:0.2em;}
.pl2{padding-left:0.2em;}
.pt2{padding-top:0.2em;}
.pr2{padding-right:0.2em;}
.pb2{padding-bottom:0.2em;}
.pl5{padding-left:0.5em;}
.p5{padding:0.5em;}
.pt5{padding-top:0.5em;}
.pr5{padding-right:0.5em;}
.pb5{padding-bottom:0.5em;}
.p10{padding:1em;}
.pl10{padding-left:1em;}
.pt10{padding-top:1em;}
.pr10{padding-right:1em;}
.pb10{padding-bottom:1em;}
.p15{padding:1.5em;}
.pl15{padding-left:1.5em;}
.pt15{padding-top:1.5em;}
.pr15{padding-right:1.5em;}
.pb15{padding-bottom:1.5em;}
.p20{padding:2em;}
.pl20{padding-left:2em;}
.pt20{padding-top:2em;}
.pr20{padding-right:2em;}
.pb20{padding-bottom:2em;}
.p30{padding:3em;}
.pl30{padding-left:3em;}
.pt30{padding-top:3em;}
.pr30{padding-right:3em;}
.pb30{padding-bottom:3em;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc{border:1px solid #ccc;}
.bde6{border:1px solid #e6e6e6;}
.blc{border-left:1px solid #ccc;}
.brc{border-right:1px solid #ccc;}
.btc{border-top:1px solid #ccc;}
.bbc{border-bottom:1px solid #ccc;}
.bdd{border:1px solid #ddd;}
.bld{border-left:1px solid #ddd;}
.brd{border-right:1px solid #ddd;}
.btd{border-top:1px solid #ddd;}
.bbd{border-bottom:1px solid #ddd;}
.bde{border:1px solid #eee;}
.ble{border-left:1px solid #eee;}
.bre{border-right:1px solid #eee;}
.bte{border-top:1px solid #eee;}
.bbe{border-bottom:1px solid #eee;}
.bbe6{border-bottom:1px solid #e6e6e6;}
.bbn{border-bottom:none !important;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh{background-color:#fff;}
.bgfa{background-color:#fafafa;}
.bgfb{background-color:#fbfbfb;}
.bgf5{background-color:#f5f5f5;}
.bgf0{background-color:#f0f0f0;}
.bgeb{background-color:#ebebeb;}
.bge0{background-color:#e0e0e0;}
/* font-size */
.f0{font-size:0 !important;}
.f10{font-size:1em;}
.f11{font-size:1.1em;}
.f12{font-size:1.2em;}
.f13{font-size:1.3em;}
.f14{font-size:1.4em;}
.f16{font-size:1.6em;}
.f18{font-size:1.8em;}
.f20{font-size:2em;}
.f22{font-size:2.2em;}
.f24{font-size:2.4em;}
.f26{font-size:2.6em;}
.f28{font-size:2.8em;}
.f30{font-size:3em;}
.f32{font-size:3.2em;}
.f36{font-size:3.6em;}
.f40{font-size:4em;}
.f50{font-size:5em;}
.f80{font-size:8em;}
/* font-family */
.fa{font-family:Arial;}
.ft{font-family:Tahoma;}
.fv{font-family:Verdana;}
.fs{font-family:Simsun;}
.fl{font-family:'Lucida Console';}
.fw{font-family:'Microsoft Yahei';}
.fim{font-family:Impact;}
/* font-style */
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fb { font-weight: bold !important; }

/* text-align */
.t_c{text-align:center;}
.t_r{text-align:right;}
.t_l{text-align:left;}
.t_j{text-align:justify;}
/* text-decoration */
.tdl{text-decoration:underline;}
.tdt{text-decoration:line-through;}
.tdn,.tdn:hover,.tdn a:hover,a.tdl:hover{text-decoration:none;}
/* letter-spacing */
.lt-1{letter-spacing:-0.1em;}
.lt0{letter-spacing:0;}
.lt1{letter-spacing:0.1em;}
/* white-space */
.nowrap{white-space:nowrap;}
/* word-wrap */
.bk{word-wrap:break-word;}
/* vertical-align */
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vn{vertical-align:-0.2em;}
/* float */
.f_l{float:left;}
.f_r{ float:right;}
/* position */
.rel{position:relative;}
.abs{position:absolute;}
.abs_l{position:absolute; top: 0; left: 0}
.abs_r{position:absolute; top: 0; right: 0}
/*z-index*/
.zx0{z-index:0;}
.zx1{z-index:1;}
.zx2{z-index:2;}
.zx3{z-index:3;}
.zx4{z-index:4;}
/* cursor */
.poi{cursor:pointer;}
.def{cursor:default;}
/* overflow */
.ovh{overflow:hidden;}
.ova{overflow:auto;}
/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}
/* zoom */
.z{*zoom:1;}
/*radius*/
.brds2{border-radius:0.2em; -webkit-border-radius:0.2em; -o-border-radius:0.2em;}
.brds10{border-radius:1em; -webkit-border-radius:1em; -o-border-radius:1em;}
.brds20{border-radius:2em; -webkit-border-radius:2em; -o-border-radius:2em;}


td.disabled{ color:#999 !important;  cursor: not-allowed; }
select.disabled,textarea.disabled,input.disabled,btn.disabled{ border-color:#999 !important; background-color: #eeeeee !important;}
.disabled a{ color:#999 !important;}
.disabled a:hover{ color:#999 !important;}
/*表单验证validation*/



@media screen and (min-width: 1601px){
    body{ font-size:2.2em}
}
@media screen and (min-width: 1501px) and (max-width: 1600px){
    body{ font-size:2.1em}
}
@media screen and (min-width: 1401px) and (max-width: 1500px){
    body{ font-size:2em}
}
@media screen and (min-width: 1301px) and (max-width: 1400px){
    body{ font-size:1.9em}
}
@media screen and (min-width: 1201px) and (max-width: 1300px){
    body{ font-size:1.8em}
}
@media screen and (min-width: 1101px) and (max-width: 1200px){
    body{ font-size:1.7em}
}
@media screen and (min-width: 1001px) and (max-width: 1100px){
    body{ font-size:1.6em}
}
@media screen and (min-width: 901px) and (max-width: 1000px){
    body{ font-size:1.5em}
}
@media screen and (min-width: 801px) and (max-width: 900px){
    body{ font-size:1.4em}
}
@media screen and (min-width: 701px) and (max-width: 800px){
    body{ font-size:1.3em}
}
@media screen and (min-width: 601px) and (max-width: 700px){
    body{ font-size:1.2em}
}
@media screen and (min-width: 501px) and (max-width: 600px){
    body{ font-size:1.1em}
}
@media screen and (min-width: 401px) and (max-width: 500px){
    body{ font-size:1em}
}
@media screen and (min-width: 301px) and (max-width: 400px){
    body{ font-size:1em}
}
@media screen and (min-width: 201px) and (max-width: 300px){
    body{ font-size:0.8em}
}
@media screen and (min-width: 101px) and (max-width: 200px){
    body{ font-size:0.7em}
}
@media screen and (min-width: 1px) and (max-width: 100px){
    body{ font-size:0.6em}
}
